@{
    //ViewBag.PageTitle = "Raptor CRM - ENEL"; 
    ViewBag.ContentTitle = "INICIO";
    ViewBag.SectionTitle = "¡Bienvenido!";
    ViewBag.mnOptID = "optInicio";
}

<!-- CONTENIDO DASHBOARD -->

<div class="container">
    <div class="masthead text-center">

        <div class="row text-center">
            <div class="col-md-12 text-center">
                <a class="btn btn-primary btn-icon bottom15 right15" 
                   href="@Url.Action("Index","Hurtos")" 
                   onclick="$('#modal_loading').show();"
                   style="width: 30%;">
                    <br /><br />
                    <i class="fa fa-user-secret" style="font-size: 50px;"></i>
                    <br />
                    <span class="title" style="font-size: 25px;">Reporte Hurtos</span>
                    <br /><br />
                </a>
                
                <a class="btn btn-info btn-icon bottom15 right15" 
                   href="@Url.Action("Index","ReporteIncidencia")" 
                   onclick="$('#modal_loading').show();"
                   style="width: 30%;">
                    <br /><br />
                    <i class="fa fa-bug"style="font-size: 50px;"></i>
                    <br />
                    <span class="title"style="font-size: 25px;">Reporte Incidencias</span>
                    <br /><br />
                </a>
                <!--
                <a class="btn btn-success btn-icon bottom15"
                   href="@Url.Action("Index","Cundinamarca")"
                   onclick="$('#modal_loading').show();"
                   style="width: 30%;">
                    <br /><br />
                    <i class="fa fa-globe" style="font-size: 50px;"></i>
                    <br />
                    <span class="title" style="font-size: 25px;">Cundinamarca 100%</span>
                    <br /><br />
                </a>
                -->
            </div>
        </div>

    </div>
</div>

<br /><br />