@model ModelBD.Jornada

@{
    ViewBag.Title = "Details";
}
<link href="/css/bootstrap.css" rel="stylesheet" />
<script src="/js/jquery-1.10.2.js"></script>
<script src="/Scripts/toastr.js"></script>
<link href="/Content/toastr.css" rel="stylesheet" />
<h2>Details</h2>

<div>
    <h4>Jornada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JornadaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JornadaNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JornadaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
